@import url('../../public/font/GTWalsheimPro.css');
@import url('../../public/3party/filepond/filepond.css');
@import url('../../public/3party/filepond/filepond-plugin-image-preview.css');
@import 'simple-notify/dist/simple-notify.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 0;
    margin: 0;
    padding: 0;
}

/* Custom CSS */
[x-cloak] {
    display: none !important;
}

.filepond--panel-root {
    background-color: #dbdbdb;
}

.filepond--drop-label.filepond--drop-label label {
    color: #333;
}

.dark .filepond--drop-label.filepond--drop-label label {
    color: #f3f4f6;
}

.dark .filepond--panel-root {
    background-color: #333;
    /* Dark background for the panel */
}

.dark .filepond--drop-label {
    color: #ddd;
    /* Lighter text color for dark mode */
}

.dark .filepond--item-panel {
    background-color: #444;
    /* Dark background for file items */
}

.dark .filepond--drip-blob {
    background-color: #555;
    /* Dark background for the drop circle */
}

.dark .filepond--file-action-button {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    /* Dark text/icon color for action buttons */
}

.dark [data-filepond-item-state*='error'] .filepond--item-panel {
    background-color: #ff5555;
    /* Darker red for errors */
}

.dark [data-filepond-item-state='processing-complete'] .filepond--item-panel {
    background-color: #179517;
    /* Darker green for success */
}

/* DARK MODE */

/* Trix Editor */
html.dark {
.trix-button-row {
    .trix-button-group {
        border-color: #2d3748;

        .trix-button {
            background-color: #b3c4dc;
            border-color: #2d3748;

            &.trix-active {
                background-color: #6d8ba8;
            }
        }
    }
}
    trix-editor {
        color: #e2e8f0;
        border: 1px solid #5a6473;
        border-radius: 0.5rem;
    }
}
/* Menyembunyikan file tools */
.trix-button-group.trix-button-group--file-tools {
    display: none;
}

@layer utilities {
    trix-editor {
        border: 1px solid #5a6473;
        border-radius: 0.5rem;
    }

    trix-editor h1 {
        font-size: 1.25rem !important;
        line-height: 1.25rem !important;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    trix-editor a:not(.no-underline) {
        text-decoration: underline;
    }

    trix-editor a:visited {
        color: green;
    }

    trix-editor ul {
        list-style-type: disc;
        padding-left: 1rem;
    }

    trix-editor ol {
        list-style-type: decimal;
        padding-left: 1rem;
    }

    trix-editor pre {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        font-family: monospace;
        font-size: 1.5em;
        padding: 0.5em;
        white-space: pre;
        background-color: #eee;
        overflow-x: auto;
    }

    trix-editor blockquote {
        border: 0 solid #ccc;
        border-left-width: 0px;
        border-left-width: 0.3em;
        margin-left: 0.3em;
        padding-left: 0.6em;
    }
}

@layer utilities {

   .article h1 {
        font-size: 1.25rem !important;
        line-height: 1.25rem !important;
        margin-bottom: 1rem;
        font-weight: 600;
    }

   .article a:not(.no-underline) {
        text-decoration: underline;
    }

   .article a:visited {
        color: green;
    }

   .article ul {
        list-style-type: disc;
        padding-left: 1rem;
    }

   .article ol {
        list-style-type: decimal;
        padding-left: 1rem;
    }

   .article pre {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        font-family: monospace;
        font-size: 1.5em;
        padding: 0.5em;
        white-space: pre;
        background-color: #eee;
        overflow-x: auto;
    }

   .article blockquote {
        border: 0 solid #ccc;
        border-left-width: 0px;
        border-left-width: 0.3em;
        margin-left: 0.3em;
        padding-left: 0.6em;
    }
}
